@using System.Data
@model DeliverySchedule.Models.F3Model
<div id="deliveryschedule_views_f3_header">
    @if (Model.СпецификацияШапка != null && Model.СпецификацияШапка.RowsCount > 0)
    {
        <div style="margin: 4px">Идентификатор спецификации: @Model.SpecId</div>
        <table>
            <tr>
                <td class="p" style="border: 1px solid black; padding: 4px; background-color: #cfc;">
                    <div style="margin-bottom: 2px">
                        <span style="font-weight: bold; font-size: 11pt">Основные параметры&nbsp;&nbsp;&nbsp;</span>
                        <input type="button" class="save_button" value="Сохранить" disabled="disabled" onclick="DeliveryScheduleViewsF3Index.save()" />
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Рассчитать новый график</span>
                        <input type="checkbox" name="расчитать_новый_график" data-modified="0" />
                    </div>
                    <table class="pars" style="background-color: #ffd">
                        <tr>
                            <td style="text-align: right; padding-right: 4px">Дата контракта:</td>
                            <td>
                                <input type="text"
                                       name="дата_контракта"
                                       value="@Nskd.Convert.ToString(Model.СпецификацияШапка[0]["дата_контракта"])"
                                       data-modified="0"
                                       class="date-selector" />
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; padding-right: 4px">Количество поставок:</td>
                            <td>
                                <input type="text"
                                       name="количество_поставок"
                                       value="@Model.СпецификацияШапка[0]["количество_поставок"]"
                                       data-modified="0"
                                       onchange="this.value = Nskd.Validator.numberNorm(this.value, 1, 36)" />
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; padding-right: 4px">Период поставок:</td>
                            <td>
                                <input type="text"
                                       name="период_поставок"
                                       value="@Model.СпецификацияШапка[0]["период_поставок"]"
                                       data-modified="0"
                                       onchange="this.value = Nskd.Validator.numberNorm(this.value, 0, 365)" />
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; padding-right: 4px">Дата первой поставки (получения покупателем):</td>
                            <td>
                                <input type="text"
                                       name="дата_первой_поставки"
                                       value="@Nskd.Convert.ToString(Model.СпецификацияШапка[0]["дата_первой_поставки"])"
                                       data-modified="0"
                                       class="date-selector" />
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; padding-right: 4px">Срок от отгрузки до получения покупателем:</td>
                            <td>@Model.СпецификацияШапка[0]["срок_исполнения_отгрузка_покупатель"]</td>
                            <td>&nbsp;=> Дата первой отгрузки: <span>@Model.sDpo</span></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; padding-right: 4px">Срок от поставки к нам до отгрузки покупателю:</td>
                            <td>
                                @Model.sSiso
                            </td>
                            <td>&nbsp;=> К нам на склад первая партия должна поступить: <span>@Model.sDps</span></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; padding-right: 4px">Срок от заявки на покупку до поставки к нам:</td>
                            <td>
                                @Model.sSizs
                            </td>
                            <td>&nbsp;=> Дата отправки заявки поставщику на первую партию: <span>@Model.sDozp</span></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; padding-right: 4px">Дата окончания поставок: </td>
                            <td>
                                <input type="text"
                                       name="дата_окончания_поставок"
                                       value="@Nskd.Convert.ToString(Model.СпецификацияШапка[0]["дата_окончания_поставок"])"
                                       data-modified="0"
                                       class="date-selector" />
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; padding-right: 4px">Дата окончания действия контракта: </td>
                            <td>
                                <input type="text"
                                       name="дата_окончания_действия_контракта"
                                       value="@Nskd.Convert.ToString(Model.СпецификацияШапка[0]["дата_окончания_действия_контракта"])"
                                       data-modified="0"
                                       class="date-selector" />
                            </td>
                            <td></td>
                        </tr>
                    </table>
                    <!-- поставка_по_графику всегда разрешена -->
                    <!-- поставка_по_заявкам всегда разрешена -->
                    <!-- поставка_по_протоколу и разрешена_поставка_по_протоколу всегда True -->
                    <!-- готово_для_отдела_закупок - Перенесено в журнал обмена заявками с отделом закупок (спецификацию разделена на заявки)-->
                    <!-- принято_отделом_закупок - Перенесено в журнал обмена заявками с отделом закупок-->
                </td>
                <td class="c" style="border: none; padding-left: 8px;">
                    <span style="font-weight: bold; font-size: 11pt">Действия для выделенных строк</span>
                    <br />
                    <br />
                    <input type="button" value="Объединить в группу" onclick="DeliveryScheduleViewsF3Index.execGroup();" />
                    <br />
                    <input type="button" value="Выполнить зачёт" onclick="DeliveryScheduleViewsF3Index.execCorr();" />
                    <br />
                    <br />
                    <span style="font-weight: bold; font-size: 11pt">Действия для выделенных колонок</span>
                    <br />
                    <br />
                    <input type="button" value="Заполнить количество" onclick="DeliveryScheduleViewsF3Index.setQ();" />
                    <br />
                    <input type="button" value="Заполнить срок" onclick="DeliveryScheduleViewsF3Index.setE();" />
                    <br />
                    <input type="button" value="Передать в закупку" onclick="DeliveryScheduleViewsF3Index.send();" />
                    <br />
                    <input type="button" value="Удалить" onclick="DeliveryScheduleViewsF3Index.delColumn();" />
                </td>
            </tr>
        </table>
    }
</div>
<script type="text/javascript">
    var DeliveryScheduleViewsF3Header = (function () {
        let mainDiv = $('#deliveryschedule_views_f3_header');
        let pars = mainDiv.find('table.pars');
        let parsInputs = pars.find('input[type="text"], input[type="checkbox"]');
        let dateSelectors = mainDiv.find('input.date-selector');

        dateSelectors.datepicker({ dateFormat: 'dd.mm.y', firstDay: 1, changeYear: true });
        dateSelectors.change(checkForm);

        parsInputs.keyup(function () {
            this.setAttribute('data-modified', '1');
        });
        parsInputs.change(function () {
            this.setAttribute('data-modified', '1');
            checkForm();
        });

        function checkForm() {
            DeliveryScheduleViewsF3Index.checkForm();
        }
    })();
</script>