@using System.Data

@model DeliverySchedule.Models.F3Model

<style type="text/css">
    #deliveryschedule_views_f3_index input[type="text"] {
        border: 1px solid black;
        width: 70px;
        text-align: right;
    }

    #deliveryschedule_views_f3_index th {
        font-weight: bold;
        padding: 2px;
        border: 1px solid black;
    }

    #deliveryschedule_views_f3_index td {
        padding: 2px;
        border: 1px solid black;
    }
</style>

<div id="deliveryschedule_views_f3_index">
    @if (Model != null)
    {
        <input type="hidden" name="SpecId" value="@Model.SpecId" />
        if (Model.Head != null && Model.Head.Rows.Count > 0)
        {
            Object o = Model.Head.Rows[0]["дата_первой_поставки"];

            Object oSiop = Model.Head.Rows[0]["срок_исполнения_отгрузка_покупатель"];
            String sSiop = String.Empty;
            DateTime? dDpo = null;
            String sDpo = String.Empty;
            if (oSiop != DBNull.Value)
            {
                sSiop = ((Int32)oSiop).ToString();
                if (o != DBNull.Value)
                {
                    dDpo = ((DateTime)o).AddDays(-(Int32)oSiop);
                    sDpo = ((DateTime)dDpo).ToString("dd.MM.yy");
                }
            }

            Object oSiso = Model.Head.Rows[0]["срок_исполнения_склад_отгрузка"];
            String sSiso = String.Empty;
            DateTime? dDps = null;
            String sDps = String.Empty;
            if (oSiso != DBNull.Value)
            {
                sSiso = ((Int32)oSiso).ToString();
                if (dDpo != null)
                {
                    dDps = ((DateTime)dDpo).AddDays(-(Int32)oSiso);
                    sDps = ((DateTime)dDps).ToString("dd.MM.yy");
                }
            }

            Object oSizs = Model.Head.Rows[0]["срок_исполнения_заявка_склад"];
            String sSizs = String.Empty;
            DateTime? dDozp = null;
            String sDozp = String.Empty;
            if (oSizs != DBNull.Value)
            {
                sSizs = ((Int32)oSizs).ToString();
                if (dDps != null)
                {
                    dDozp = ((DateTime)dDps).AddDays(-(Int32)oSizs);
                    sDozp = ((DateTime)dDozp).ToString("dd.MM.yy");
                }
            }

            <div style="margin: 4px">Идентификатор спецификации: @Model.SpecId</div>
            <table style="margin-left: 4px; margin-top: 4px">
                <tr>
                    <td style="border: 1px solid black; padding: 4px;">
                        <div style="margin-bottom: 2px">
                            <span style="font-weight: bold; font-size: 12pt">Основные параметры&nbsp;&nbsp;&nbsp;</span>
                            <input type="button" class="save_button" value="Сохранить" disabled="disabled" onclick="OrderF3Index.save()" />
                        </div>
                        <table class="pars">
                            <tr>
                                <td style="text-align: right; padding-right: 4px">Дата контракта:</td>
                                <td>
                                    <input type="text"
                                           name="дата_контракта"
                                           value="@Nskd.Convert.ToString(Model.Head.Rows[0]["дата_контракта"])"
                                           data-modified="0"
                                           class="date-selector" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="text-align: right; padding-right: 4px">Количество поставок:</td>
                                <td>
                                    <input type="text"
                                           name="количество_поставок"
                                           value="@Model.Head.Rows[0]["количество_поставок"]"
                                           data-modified="0"
                                           onchange="this.value = Nskd.Validator.numberNorm(this.value, 1, 36)" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="text-align: right; padding-right: 4px">Период поставок:</td>
                                <td>
                                    <input type="text"
                                           name="период_поставок"
                                           value="@Model.Head.Rows[0]["период_поставок"]"
                                           data-modified="0"
                                           onchange="this.value = Nskd.Validator.numberNorm(this.value, 0, 365)" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="text-align: right; padding-right: 4px">Дата первой поставки (получения покупателем):</td>
                                <td>
                                    <input type="text"
                                           name="дата_первой_поставки"
                                           value="@Nskd.Convert.ToString(Model.Head.Rows[0]["дата_первой_поставки"])"
                                           data-modified="0"
                                           class="date-selector" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="text-align: right; padding-right: 4px">Срок от отгрузки до получения покупателем:</td>
                                <td>
                                    @sSiop
                                </td>
                                <td>&nbsp;=> Дата первой отгрузки: <span>@sDpo</span></td>
                            </tr>
                            <tr>
                                <td style="text-align: right; padding-right: 4px">Срок от поставки к нам до отгрузки покупателю:</td>
                                <td>
                                    @sSiso
                                </td>
                                <td>&nbsp;=> К нам на склад первая партия должна поступить: <span>@sDps</span></td>
                            </tr>
                            <tr>
                                <td style="text-align: right; padding-right: 4px">Срок от заявки на покупку до поставки к нам:</td>
                                <td>
                                    @sSizs
                                </td>
                                <td>&nbsp;=> Дата отправки заявки поставщику на первую партию: <span>@sDozp</span></td>
                            </tr>
                            <tr>
                                <td style="text-align: right; padding-right: 4px">Дата окончания поставок: </td>
                                <td>
                                    <input type="text"
                                           name="дата_окончания_поставок"
                                           value="@Nskd.Convert.ToString(Model.Head.Rows[0]["дата_окончания_поставок"])"
                                           data-modified="0"
                                           class="date-selector" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="text-align: right; padding-right: 4px">Дата окончания действия контракта: </td>
                                <td>
                                    <input type="text"
                                           name="дата_окончания_действия_контракта"
                                           value="@Nskd.Convert.ToString(Model.Head.Rows[0]["дата_окончания_действия_контракта"])"
                                           data-modified="0"
                                           class="date-selector" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Поставка по графику</td>
                                <td><input type="checkbox" checked="checked" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Поставка по заявкам</td>
                                <td><input type="checkbox" checked="checked" /></td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        }
        if (Model.Table != null && Model.Table.Rows.Count > 0)
        {
            <table style="margin-left: 4px; margin-top: 4px">
                <tr>
                    <td style="border: 1px solid black; padding: 4px;">
                        <div style="margin-bottom: 2px">
                            <span style="font-weight: bold; font-size: 12pt">График&nbsp;&nbsp;&nbsp;</span>
                            <input type="button" class="save2_button" value="Сохранить" onclick="OrderF3Index.save2()" disabled="disabled" />
                        </div>
                        <table class="shedule_rows">
                            <colgroup>
                                <col width="100" />
                                <col width="200" />
                                <col width="200" />
                                <col width="200" />
                            </colgroup>
                            <tr>
                                <th>Торговое наименование</th>
                                <th>Лекарственная форма и дозировка</th>
                                <th>Производитель</th>
                                <th>Страна</th>
                                <th>З->С</th>
                                <th>С->О</th>
                                <th>О->П</th>
                                <th>Кол-во</th>
                                <th>Распр-ть</th>
                                @if (Model.Shedule != null && Model.Shedule.Columns.Count > 2)
                                {
                                    for (Int32 ci = 2; ci < Model.Shedule.Columns.Count; ci++)
                                    {
                                        DataColumn dc = Model.Shedule.Columns[ci];
                                        String cn = dc.ColumnName;
                                        if (cn.Length >= 10)
                                        {
                                            cn = cn.Substring(8, 2) + "." + cn.Substring(5, 2) + "." + cn.Substring(2, 2);
                                        }
                                        <th>
                                            <input type="text"
                                                   name="@cn"
                                                   value="@cn"
                                                   data-modified="0"
                                                   class="date-selector" />
                                        </th>
                                    }
                                }
                                <th onclick="OrderF3Index.addColumn()">&nbsp;*&nbsp;</th>
                            </tr>
                            @foreach (DataRow dr in Model.Table.Rows)
                            {
                                Guid tp_id = (Guid)dr["tp_id"];
                                <tr data-tp_uid="@tp_id">
                                    <td>@dr["наименование"]</td>
                                    <td>@dr["лекарственная_форма_и_дозировка"]</td>
                                    <td>@dr["производитель"]</td>
                                    <td>@dr["страна"]</td>
                                    <td>
                                        <input type="text" name="s1" value="@dr["срок_исполнения_заявка_склад"]"
                                               data-modified="0" style="width: 30px">
                                    </td>
                                    <td>
                                        <input type="text" name="s2" value="@dr["срок_исполнения_склад_отгрузка"]"
                                               data-modified="0" style="width: 30px">
                                    </td>
                                    <td>
                                        <input type="text" name="s3" value="@dr["срок_исполнения_отгрузка_покупатель"]"
                                               data-modified="0" style="width: 30px">
                                    </td>
                                    <td style="text-align: right">@(((Decimal)dr["количество"]).ToString("n0"))</td>
                                    @if (Model.Shedule != null && Model.Shedule.Rows.Count > 0)
                                    {
                                        Int32 s = (Int32)((Decimal)dr["количество"]);
                                        foreach (DataRow sdr in Model.Shedule.Rows)
                                        {
                                            if ((Guid)sdr["tp_id"] == tp_id)
                                            {
                                                if (Model.Shedule.Columns.Count > 2)
                                                {
                                                    for (Int32 ci = 2; ci < Model.Shedule.Columns.Count; ci++)
                                                    {
                                                        if (sdr[ci] != DBNull.Value) { s -= (Int32)((Decimal)sdr[ci]); }
                                                    }
                                                }
                                                break;
                                            }
                                        }
                                        if (s < 0)
                                        {
                                            <td class="todo" style="text-align: right; color: red">@s</td>
                                        }
                                        else if (s == 0)
                                        {
                                            <td class="todo" style="text-align: right"></td>
                                        }
                                        else
                                        {
                                            <td class="todo" style="text-align: right; color: black">@s</td>
                                        }
                                    }
                                    @if (Model.Shedule != null && Model.Shedule.Rows.Count > 0)
                                    {
                                        foreach (DataRow sdr in Model.Shedule.Rows)
                                        {
                                            if ((Guid)sdr["tp_id"] == tp_id)
                                            {
                                                if (Model.Shedule.Columns.Count > 2)
                                                {
                                                    for (Int32 ci = 2; ci < Model.Shedule.Columns.Count; ci++)
                                                    {
                                                        DataColumn dc = Model.Shedule.Columns[ci];
                                                        String cn = dc.ColumnName;
                                                        if (cn.Length >= 10)
                                                        {
                                                            cn = cn.Substring(8, 2) + "." + cn.Substring(5, 2) + "." + cn.Substring(2, 2);
                                                        }
                                                        <td>
                                                            <input type="text"
                                                                   name="@cn"
                                                                   value="@sdr[ci]"
                                                                   data-modified="0" />
                                                        </td>
                                                    }
                                                }
                                                break;
                                            }
                                        }
                                    }
                                    <td></td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            </table>
        }
    }
</div>
<script type="text/javascript">
    var OrderF3Index = (function () {
        var mainDiv = $('#deliveryschedule_views_f3_index');
        var specId = mainDiv.find('input[name="SpecId"]').val();
        var pars = mainDiv.find('table.pars');
        var parsInputs = pars.find('input[type="text"]');
        var saveButton = mainDiv.find('input[type="button"].save_button');
        var shdl = mainDiv.find('table.shedule_rows');
        var save2Button = mainDiv.find('input[type="button"].save2_button');
        var sheduleInputs = shdl.find('input[type="text"]');

        parsInputs.keyup(function () {
            this.setAttribute('data-modified', '1');
            saveButton.prop('disabled', false);
        });
        parsInputs.change(function () {
            this.setAttribute('data-modified', '1');
            saveButton.prop('disabled', false);
        });

        sheduleInputs.keyup(function () {
            this.setAttribute('data-modified', '1');
            save2Button.prop('disabled', false);
        });
        sheduleInputs.change(function () {
            this.setAttribute('data-modified', '1');
            save2Button.prop('disabled', false);
            if (!$(this).hasClass('date-selector')) {
                Nskd.Validator.nNorm(this, 0);
                calcToDo(this);
            }
        });

        mainDiv.find('input.date-selector').datepicker({
            dateFormat: 'dd.mm.y',
            firstDay: 1,
            defaultDate: 0
        });

        function calcToDo(e) {
            var tr = $(e).closest('tr');
            var tds = tr.find('td');
            var inps = tr.find('input');
            var s = parseInt(tds.eq(7).text());
            inps.each(function (i, e) {
                var v = parseInt($(e).val());
                if (isNaN(v)) v = 0;
                if (i > 2) s -= v;
            });
            if (s < 0) {
                tds.eq(8).css('color', 'red');
                tds.eq(8).text(s.toString());
            } else if (s == 0) {
                tds.eq(8).text('');
            } else {
                tds.eq(8).css('color', 'black');
                tds.eq(8).text(s.toString());
            }
        };

        return {
            save: function () {
                var inputs = pars.find('input[data-modified="1"]');
                if (inputs.length > 0) {
                    if (confirm('Внимание!\nБудет сформирован график для каждой позиции в спецификации.\n')) {
                        var rqp = {
                            SessionId: Nskd.Server.SessionId,
                            Command: 'DeliverySchedule.F3.Save',
                            Parameters: [{ Name: "id", Value: specId }]
                        };
                        inputs.each(function (i, e) {
                            rqp.Parameters.push({ Name: e.name, Value: e.value });
                        });
                        //alert(Nskd.Json.toString(rqp)); return;
                        Nskd.Http.post({
                            url: '/DeliverySchedule/F3/Save',
                            rqp: rqp,
                            done: function (data) {
                                $('#_layout_content').html(data);
                            }
                        });
                    }
                }
            },
            save2: function () {
                save2Button.prop('disabled', true);
                var inputs = shdl.find('input[data-modified="1"]');
                if (inputs.length > 0) {
                    var rqp = {
                        SessionId: Nskd.Server.SessionId,
                        Command: 'DeliverySchedule.F3.Save2',
                        Parameters: [{ Name: "id", Value: specId }]
                    };
                    inputs.each(function (i, e) {
                        var tr = $(e).closest('tr');
                        var name = '';
                        var tpUid = tr.attr('data-tp_uid');
                        if (tpUid) { name = '_' + tpUid + '_'; }
                        name += e.name;
                        rqp.Parameters.push({ Name: name, Value: e.value });
                    });
                    //alert(Nskd.Json.toString(rqp));
                    //return;
                    Nskd.Http.post({
                        url: '/DeliverySchedule/F3/Save2',
                        rqp: rqp,
                        done: function (data) {
                            $('#_layout_content').html(data);
                        }
                    });
                }
            },
            addColumn: function () {
                var date = new Date();
                var yy = '' + (date.getFullYear() - 2000);
                var mm = '' + (date.getMonth() + 1); if (mm.length == 1) mm = '0' + mm;
                var dd = '' + (date.getDate()); if (dd.length == 1) dd = '0' + dd;
                var colName = dd + '.' + mm + '.' + yy;
                var trs = shdl.find('tr');
                trs.each(function (i, e) {
                    var tr = $(e);
                    if (i == 0) {
                        var input = $('<input type="text" name="' + colName + '" value="' + colName + '" data-modified="0" class="date-selector" />');
                        input.datepicker({
                            dateFormat: 'dd.mm.y',
                            firstDay: 1,
                            defaultDate: 0
                        });
                        input.change(function () {
                            this.setAttribute('data-modified', '1');
                            save2Button.prop('disabled', false);
                            var input = $(this);
                            var th = input.closest('th');
                            var tr = th.closest('tr');
                            var ths = tr.find('th');
                            var index = ths.index(th);
                            trs.each(function (i, e) {
                                if (i != 0) $(e).find('td').eq(index).find('input').name = $(this).val();
                            });
                        });
                        input.keyup(function () {
                            this.setAttribute('data-modified', '1');
                            save2Button.prop('disabled', false);
                        });
                        var th = $('<th>');
                        th.append(input);
                        tr.find('th').last().replaceWith(th);
                        //tr.append('<th onclick="OrderF3Index.addColumn()">&nbsp;*&nbsp;</th>');
                    } else {
                        var input = $('<input type="text" name="' + colName + '" value="" data-modified="0" />');
                        input.change(function () {
                            this.setAttribute('data-modified', '1');
                            save2Button.prop('disabled', false);
                            Nskd.Validator.nNorm(this, 0);
                            calcToDo(this);
                        });
                        input.keyup(function () {
                            this.setAttribute('data-modified', '1');
                            save2Button.prop('disabled', false);
                        });
                        tr.find('td').last().append(input);
                        //tr.append('<td>');
                    }
                });
            }
        };
    })();
</script>
