@using System.Data
@model DeliverySchedule.Models.F3Model
<div id="deliveryschedule_views_f3_table">
    @if (Model.СпецификацияТаблица != null && Model.СпецификацияТаблица.RowsCount > 0)
    {
        <table style="margin-left: 4px; margin-top: 4px; background-color: #cfc">
            <tr>
                <td style="border: 1px solid black; padding: 4px;">
                    <div style="margin-bottom: 2px">
                        <span style="font-weight: bold; font-size: 12pt">График&nbsp;&nbsp;&nbsp;</span>
                        <input type="button" class="save2_button" value="Сохранить" onclick="DeliveryScheduleViewsF3Index.save2()" disabled="disabled" />
                        <span>&nbsp;&nbsp;&nbsp;Накладные 1с&nbsp;&nbsp;&nbsp;</span>
                        <input type="checkbox" class="_1c-show" onclick="DeliveryScheduleViewsF3Index.show1cRows(this)">
                    </div>
                    <table class="shedule_rows" style="background-color: #ffd">
                        <colgroup>
                            <col width="30" /> <!-- № -->
                            <col width="700" /><!-- Описание -->
                            <col width="20" /> <!-- Галка сопоставления строк -->
                            <col width="70" /> <!-- Кол-во -->
                            <col width="70" /> <!-- Остаток по заявкам -->
                            <!-- колонки по графику, заявкам, протоколу -->
                        </colgroup>
                        <tr>
                            <th>№</th>
                            <th>Описание</th>
                            <th title="Колонка выбора строк для дальнейшей обработки">&nbsp;</th>
                            <th title="Общее количество планируемой поставки покупателю по спецификации">Кол-во</th>
                            <th title="Максимальное количество которое можно добавить в поставку по заявке"><span>Остаток по</span><br /><span>заявкам</span></th>
                            @if (Model.Shedule != null && Model.Shedule.Columns.Count > 1)
                            {
                                for (Int32 ci = 1; ci < Model.Shedule.Columns.Count; ci += 3)
                                {
                                    DataColumn dc = Model.Shedule.Columns[ci];
                                    String uid = dc.ColumnName.Substring(0, 36);
                                    String cn = dc.ColumnName.Substring(37, 8);
                                    String ct = dc.ColumnName.Substring(46, 1);
                                    String pz = dc.ColumnName.Substring(48, 1);
                                    <th colspan="3" data-column-index="@(4 + ci)">
                                        @if (pz == "1")
                                        {
                                            <table style="border: none; width: 100%;">
                                                <tr>
                                                    <td colspan="3" style="border: none;">
                                                        @switch (ct)
                                                        {
                                                            case "0":
                                                                <span>Поставка по графику</span>
                                                                break;
                                                            case "1":
                                                                <span>Поставка по заявке</span>
                                                                break;
                                                            case "2":
                                                                <span>Поставка по протоколу</span>
                                                                break;
                                                            default:
                                                                <span>Поставка по ?</span>
                                                                break;
                                                        }
                                                    </td>
                                                </tr>
                                                <tr><td colspan="3" style="border: none;" title="Планируемая дата получения покупателем">@cn</td></tr>
                                                <tr>
                                                    <td style="border: none; text-align: center; width: 50px;">Кол-во</td>
                                                    <td style="border: none; text-align: center; width: 50px;" title="Срок годности">Срок</td>
                                                    <td style="border: none; text-align: center; width: 40px;" title="Срок от отгрузки до получения покупателем">О&rarr;П</td>
                                                </tr>
                                            </table>
                                        }
                                        else
                                        {
                                            <table style="border: none; width: 100%;">
                                                <tr>
                                                    <td colspan="3" style="border: none;">
                                                        @switch (ct)
                                                        {
                                                            case "0":
                                                                <span>Поставка по графику</span>
                                                                break;
                                                            case "1":
                                                                <span>Поставка по заявке</span>
                                                                break;
                                                            case "2":
                                                                <span>Поставка по протоколу</span>
                                                                break;
                                                            default:
                                                                <span>Поставка по ?</span>
                                                                break;
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" style="border: none;" title="Планируемая дата получения покупателем">
                                                        <input type="text"
                                                               name="@dc.ColumnName"
                                                               value="@cn"
                                                               data-modified="0"
                                                               class="date-selector" />
                                                    </td>
                                                    <td style="border: none;">
                                                        <input type="checkbox" class="column-selector" data-order_uid="@uid" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border: none; text-align: center; width: 50px;">Кол-во</td>
                                                    <td style="border: none; text-align: center; width: 50px;" title="Срок годности">Срок</td>
                                                    <td style="border: none; text-align: center; width: 40px;" title="Срок от отгрузки до получения покупателем">О&rarr;П</td>
                                                </tr>
                                            </table>
                                        }
                                    </th>
                                }
                            }
                            <th onclick="DeliveryScheduleViewsF3Index.addColumn()">&nbsp;*&nbsp;</th>
                        </tr>
                        @for (int ri = 0; ri < Model.СпецификацияТаблица.RowsCount; ri++)
                        {
                            var dr = Model.СпецификацияТаблица[ri];
                            String row_id = dr["id"];
                            String stUid = dr["uid"];
                            if (stUid != "")
                            {
                                <tr data-row_id="@row_id" data-tp_uid="@stUid" class="fnet">
                                    <td style="text-align: right">@dr["номер_строки"]</td>
                                    <td>@(dr["наименование"] + "; " + dr["лекарственная_форма_и_дозировка"] + "; " + dr["производитель"] + "; " + dr["страна"])</td>
                                    <td><input type="checkbox" class="row-flag" /></td>
                                    <td class="row-qty" style="text-align: right">@dr["количество", "n0"]</td>
                                    <td class="todo" style="text-align: right"></td>
                                    @if (Model.Shedule != null && Model.Shedule.Columns.Count > 1)
                                    {
                                        for (Int32 ci = 1; ci < Model.Shedule.Columns.Count; ci += 3)
                                        {
                                            DataColumn dc1 = Model.Shedule.Columns[ci];
                                            DataColumn dc2 = Model.Shedule.Columns[ci + 1];
                                            DataColumn dc3 = Model.Shedule.Columns[ci + 2];
                                            String q = String.Empty;
                                            String e = String.Empty;
                                            String l = String.Empty;
                                            foreach (DataRow sdr in Model.Shedule.Rows)
                                            {
                                                if ((String)sdr["спецификации_таблица_uid"] == stUid)
                                                {
                                                    q = (String)sdr[ci];
                                                    e = (String)sdr[ci + 1];
                                                    l = (String)sdr[ci + 2];
                                                    break;
                                                }
                                            }
                                            String uid = dc1.ColumnName.Substring(0, 36);
                                            String cn = dc1.ColumnName.Substring(37, 8);
                                            String ct = dc1.ColumnName.Substring(46, 1);
                                            String pz = dc1.ColumnName.Substring(48, 1);
                                            if (pz == "1")
                                            {
                                                <td class="q" data-column-index="@(4 + ci)" style="text-align: right; width: 50px;">
                                                    <span>@q</span>
                                                </td>
                                                <td class="e" data-column-index="@(5 + ci)" style="text-align: right; width: 50px;">
                                                    <span>@((e == "") ? "" : e.Substring(3, 5))</span>
                                                </td>
                                                <td class="e" data-column-index="@(6 + ci)" style="text-align: right; width: 40px;">
                                                    <span>@l</span>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="q" data-column-index="@(4 + ci)">
                                                    <input type="text"
                                                           name="@dc1.ColumnName"
                                                           value="@q"
                                                           data-modified="0"
                                                           style="width: 50px" />
                                                </td>
                                                <td class="e" data-column-index="@(5 + ci)">
                                                    <input type="text"
                                                           name="@dc2.ColumnName"
                                                           value="@((e == "") ? "" : e.Substring(3, 5))"
                                                           data-modified="0"
                                                           style="width: 50px" />
                                                </td>
                                                <td class="l" data-column-index="@(6 + ci)">
                                                    <input type="text"
                                                           name="@dc3.ColumnName"
                                                           value="@l"
                                                           data-modified="0"
                                                           style="width: 40px" />
                                                </td>
                                            }
                                        }
                                    }
                                    <td></td>
                                </tr>
                            }
                            else
                            {
                                <tr data-row_id="@row_id" data-tp_uid="" class="_1c" style="display: none">
                                    <td>1c</td>
                                    <td>@dr["descr"]</td>
                                    <td><input type="checkbox" class="row-flag" /></td>
                                    <td colspan="3" style="text-align: right">Количество по накладным:</td>
                                    <td class="row-qty" style="text-align: right">@dr["количество", "n0"]</td>
                                </tr>
                            }
                        }
                    </table>
                </td>
            </tr>
        </table>
    }
</div>
<script type="text/javascript">
    var DeliveryScheduleViewsF3Table = (function () {
        let mainDiv = $('#deliveryschedule_views_f3_table');
        let shdl = mainDiv.find('table.shedule_rows');
        let sheduleInputs = shdl.find('input[type="text"]');
        let todoTds = shdl.find('td.todo');
        let dateSelectors = mainDiv.find('input.date-selector');

        dateSelectors.datepicker({ dateFormat: 'dd.mm.y', firstDay: 1, changeYear: true, minDate: 0 });
        dateSelectors.change(checkForm);

        mainDiv.find('td.e input').datepicker({ dateFormat: 'mm.y', firstDay: 1, changeYear: true });

        sheduleInputs.keyup(function () {
            this.setAttribute('data-modified', '1');
        });
        sheduleInputs.change(function () {
            this.setAttribute('data-modified', '1');
            if ($(this).parent().hasClass('q') || $(this).parent().hasClass('l')) {
                Nskd.Validator.nNorm(this, 0);
            }
            calcToDo(this);
            checkForm();
        });

        // При загрузке с сервера сразу проверяем.
        todoTds.each(function (i, e) {
            calcRowToDo($(e).closest('tr'));
        });

        function calcToDo(e) {
            let tr = $(e).closest('tr');
            calcRowToDo(tr);
        }
        function calcRowToDo(tr) {
            let td = tr.find('td.todo');
            let s = parseInt(tr.find('td.row-qty').text().replace(/[^\d-]/g, ''));
            let qs = tr.find('td.q');
            qs.each(function (index, element) {
                let e = $(element);
                let input = e.find('input');
                let v = 0;
                if (input.length == 0) {
                    v = parseInt(e.text().replace(/[^\d-]/g, ''));
                } else {
                    v = parseInt(input.val().replace(/[^\d-]/g, ''));
                }
                if (isNaN(v)) v = 0;
                s -= v;
            });
            if (s < 0) {
                td.addClass('err-color');
                td.text(s.toString());
            } else if (s == 0) {
                td.removeClass('err-color');
                td.text('');
            } else {
                td.removeClass('err-color');
                td.text(s.toString());
            }
        }
        function checkForm() {
            DeliveryScheduleViewsF3Index.checkForm();
        }

        return {
        };
    })();
</script>